body {
    margin: 50px;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #2D2D2D;
}

h2 {
    padding: 0px 0px 30px 0px;
    font-size: 2.50em;
}

p, ol, ul {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: rgba(0,0,0,.8);
}

    a:hover {
        text-decoration: none;
    }

    a img {
        border: none;
    }

    /*specific style for mean menu items, home, posts, about*/
    a.menuItem {
        margin-right: 15px;
    }

.signin {
    float: right;
}

#header {
    min-height: 40px;
    background-color: #E97087;
}

#content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #E2D8B0;
    left: 50px;
    right: 50px;
}

#footer {
    display: block;
    right: 150px;
    left: 50px;
    background-color: #62AA8E;
    text-align: center;
    font-weight: bolder;
    clear: both;
}

input[type=text] {
    margin-bottom: 15px;
}

    input[type=text]:focus {
        border-color: #333;
    }

input[type=submit] {
    margin-top: 10px;
}

ul.footerList {
    list-style-type: none;
}

li.footerElement {
    display: inline;
}

.extracontent {
    margin-top:15px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: darkred;
}
#allpostsseparator{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:black;
}
.allposts{
    margin-left:15px;
    margin-right:15px;
}
