body {
    margin-bottom:10px;
    margin-top:10px;
    margin-left:50px;
    margin-right:50px;
}
/*specific style for mean menu items, home, posts, about*/
a.menuItem{
    margin-right:15px;

}
#signin{
    float:right;
    color:white;
}
/*specific for signin and menu to apear on same line.*/
#signin, #menu{
    display:inline;
}
#header{
    background-color:olive;
}
#latestPosts{
    margin-top:50px;
    border-top:1px solid #808080
}


#L1{
    padding-top: 50px;
    padding-left: 100px
    
}

#L2{
        padding-left: 65px;
       
}
#I2 {
 margin-top: 5px
}
#I3{
   margin-top: 5px;
   margin-left:152px;
}
button,
input,
textarea{
    color:inherit;
    font:inherit;
    margin:0;
}
button{
    cursor:pointer;
}
fieldset{
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
textarea{
    overflow: auto;
}
a,
a:visited{
    text-decoration:underline;
}
img{
    page-break-inside: avoid;
}
p,h2,h3{
    orphans: 3;
    widows:3;
}
h2, h3{
    page-break-after:avoid;
}
.page-header{
    padding-bottom:9.5px;
    margin:42px 0 21px;
    border-bottom: 1px solid transparent;
}
label{
    display:inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight:bold;
}
input[type = "file"]{
    display:block;
}
input[type ="file"]:focus{
    outline:thin dotted;
    outline:5px auto;
    outline-offset: -2px;

}
.form-contorl{
    display:block;
    width:100px;
    height:45px;
    padding:10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color:#ffffff;
    background-image:none;
    border: 1px solid #dce4ec;
    border-radius:4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s box-shadow ease-in-out .15s;
}
.form-contorl:focus{
    border-color: #2c3e50;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 62, 80, 0.6);
}



